[submodule "BiddingManagement"]
	path = BiddingManagement
	url = https://github.com/21-2-1team/mgmt.git
[submodule "BiddingExamination"]
	path = BiddingExamination
	url = https://github.com/21-2-1team/exam.git
[submodule "BiddingParticipation"]
	path = BiddingParticipation
	url = https://github.com/21-2-1team/participation.git
[submodule "MyPage"]
	path = MyPage
	url = https://github.com/21-2-1team/mypage.git
[submodule "Notification"]
	path = Notification
	url = https://github.com/21-2-1team/notification.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/21-2-1team/frontend.git
